.resetPassword {
    height: 366px;
    margin-top: 128px;
    margin-bottom: 253px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.resetPassword-head {
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.resetPasswordInformation {
    width: 500px;
    text-align: center;
}

.resetPassword-form {
    height: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resetPasswordInputEmail {
    color: #707070;
    border: none;
    background-color: transparent;
}

.resetPasswordInputLine {
    width: 500px;
    border-color: black;
}

.resetPasswordButton {
    box-sizing: border-box;
    width: 500px;
    height: 53px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
}

