.signIn {
    margin-top: 126px;
}

.myAccount-form {
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myAccount-form-input {
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myAccount-form-input-container {
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.emailPassword-container {
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myAccountFormInput {
    color: #707070;
    border: none;
    background-color: transparent;
}

.myAccountFormInputLine {
    width: 500px;
    background-color: #D8D8D8;
    margin: 0;
}

.myAccount-form-input-checkbox {
    display: flex;
    align-items: center;
}

.myAccountFormInputCheckbox {
    margin-right: 8px;
    width: 16px;
    height: 17.17px;
    border: 1px solid #707070;
    border-radius: 2px;
}

.myAccount-form-button {
    height: 93px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.myAccountFormButton {
    box-sizing: border-box;
    width: 500px;
    height: 53px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
}

