.footer {
    height: 159px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}

.footer-line {
    width: 1248px;
    border: 1px solid #d8d8d8;
    margin: 0;
}

.footer-bottom {
    margin: 0;
    display: flex;
    justify-content: space-between;
    /* background-color: aliceblue; */
}

.bottom-left {
    height: 102px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.bottom-left-top {
    width: 486px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    /* background-color: azure;     */
}

.link-footer {
    text-decoration: none;
    color: #707070 ;
    margin: 0;
}

.bottom-right {
    height: 109px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: bisque; */
}

.bottom-right-top {
    height: 40px;
    width: 396px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blanchedalmond; */
}

.bottom-right-line {
    width: 396px;
    border: 1px solid #000;
    margin: 0;
}

.bottom-right-bottom {
    width: 156px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    /* background-color: blue; */
}

.linkIn {
    width: 18.53px;
    height: 18px;
    margin: 0;
}

.fb {
    width: 10px;
    height: 18px;
    margin: 0;
}

.ig {
    width: 18px;
    height: 18px;
    margin: 0;
}

.twitter {
    width: 20px;
    height: 17px;
    margin: 0;
}

