.homeBottom {
    height: 1112px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
}

.homeBottom-title {
    width: 1248px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color:blue;
}

.homeBottom-product {
    height: 1030px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blueviolet;
}

.product-info {
    width: 1248px;
    display: flex;
    justify-content: space-between;
    background-color: brown;
}

