.productSimilarItems {
    /* height: 554px; */
    width: 1248px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.similarItems-container {
    width: 1248px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}